@{
    ViewData["Title"] = "GetUserList";
    Layout = "_LayoutAdminLTE";
}
@model List<UserModel>
<h1>Kullanıcılar</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>E-Posta</th>
            <th>Şehir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.City</td>
            </tr>
        }

    </tbody>
</table>

